<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods App</title>
</head>
<body>
    <h1>Welcome to the Foods App</h1>
    <p>An App for colecting you favorite foods with storage instruction.</p>
    <a href="/foods">Browse Foods</a>
</body>
</html>